
/**************** TYPE FONST ******************/

.location-text {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.font_subtitle {
  margin-top: 1rem;
  font-family: fantasy;
  font-size: 20px;
}

.title_font{
  font-family: 'Courier New', Courier, monospace;
}

.font_title_etiquetas{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}


/*************** IMAGE LENGUAJES ******************/
.img_center{
  align-items: center;
  align-content: center;
  width: 250px;
  height: auto;
}
.img_lenguajes {
  width: 200px;
  height: 200px;
  align-items: center;
  align-content: center;
}





.navbar {
  --bs-navbar-color: rgba(255, 255, 255, 1); /* Cambia esto por tu color */
  color: var(--bs-navbar-color); /* Asegúrate de que los elementos usen el nuevo color */
}



.font_subtitle {
  margin-top: 1rem;
  font-family: fantasy;
  font-size: 20px;
}

.font_navbar{
  font-family: cursive;
  color: white;
}




.navbar-nav {
  padding-right: 4rem; /* Ajusta según tu necesidad */
}
.navbar-nav .nav-item {
  margin-right: 10rem; /* Aumenta o reduce el espacio entre elementos */
}

.main {
  background-image: url('/img/IrM.gif');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .font_subtitle {
    margin-top: 1rem;
    font-family: fantasy;
    font-size: 20px;
  }
  
  .icon-style {
    width: 24px; /* Ajusta según el tamaño del ícono */
    height: 24px; /* Asegura que sea cuadrado */
    vertical-align: middle; /* Alinea con el texto */
    margin-right: 8px; /* Espaciado similar al ícono */
    color: antiquewhite;
    background-color: rgb(255, 255, 255);
  }
  
  footer {
    padding: 2rem 0; /* Espaciado interno del footer */
}


  
  .container_maim {
      background-image: url('/img/fondo1.jpeg');
      background-size: 100% auto;
      border-radius: 20px;
      background-position: center top;
      background-repeat: no-repeat;
       }

